client/bundle.js
node_modules
coverage
.DS_Store
mockData/.DS_Store
npm-debug.log
.env
archive.zip
.elasticbeanstalk
mockData/restaurants.json
mockData/psql/csv_files
dump.rdb
newrelic_agent.log
newrelic.js
hello1.yml